* {
    font-family: 'Arial', sans-serif;
}
body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    .container {
        width: 100%;
        max-width: 1140px;
        margin: 0 auto;
    }
}
.navbar-section {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar {
    -webkit-backdrop-filter: saturate(180%) blur(10px);
    backdrop-filter: saturate(180%) blur(10px);
    background-color: hsla(0,0%,100%,.75);
    border-radius: 8px;
    box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 20px;
    img {
        width: 100px;
    }
    ul {
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        gap: 2px;
        li {
            a {
                &.clear {
                    padding: 5px 20px;
                    border-radius: 8px;
                    transition: .2s ease-in-out;
                    &:hover {
                        background-color: white;
                    }
                }
            }
        }
    }
}

a {
    text-decoration: none;
    color: black;
}
.btn {
    padding: 5px 20px;
    border-radius: 8px;
    transition: .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    &-green {
        color: white;
        background-color: #94F4B2;
    }
    &-white {
        color: black;
        background-color: white;
    }
}
section {
    padding: 10px 0;
}
.card-list {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}
.card {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    width: 25%;
    overflow: hidden;
    padding: 40px 0;
    border-radius: 8px;
    color: white;
    font-weight: bold;
    transition: .2s ease-in-out;
    &:hover {
        transform: scale(1.05);
    }
    img {
        width: 200px;
        border-radius: 200px;
    }
    &-red {
        background: radial-gradient(50.13% 50.13% at 50% 49.87%, rgba(255, 107, 129, 0.5) 0%, #FF6B81 100%);
    }
    &-blue {
        background: radial-gradient(50.13% 50.13% at 50% 49.87%, rgba(168, 219, 251, 0.5) 0%, #A8DBFB 100%);
    }
    &-pink {
        background: radial-gradient(50.13% 50.13% at 50% 49.87%, rgba(255, 159, 243, 0.5) 0%, #FF9FF3 100%);
    }
    &-orange {
        background: radial-gradient(50.13% 50.13% at 50% 49.87%, rgba(254, 202, 87, 0.5) 0%, #FECA57 100%);
    }
}
.max-text {
    font-weight: bold;
    font-size: 55px;
}
.newsletter {
    background-color: #8F8FD5;
    border-radius: 8px;
    height: 260px;
    overflow: hidden;
    position: relative;
    padding: 20px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    img {
        position: absolute;
        right: -250px;
        top: 0;
        transform: rotate(-45deg);
    }
    h2,
    p {
        margin: 0;
        color: white;
    }
    form {
        width: 80%;
        input {
            border: none;
            padding: 10px;
            font-size: 16px;
            &[type="text"] {
                border-radius: 8px;
                width: 50%;
            }
        }
    }
}
.copyright {
    text-align: center;
    color: #959595;
    font-size: 12px;
}
.hide {
    background-color: #959595;
    transition: .2s ease-in-out;
    cursor: pointer;
    &:hover {
        background-color: transparent;
    }
}
