.header {
	width: calc(100% - 40px);
	display: flex;
	gap: 20px;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	padding: 20px;
	background-color: #A8DBFB;
	z-index: -2;
	&-max {
		z-index: 0;
		height: calc(60vh - 40px);
		h1 {
			transform: translateY(-30px);
			position: absolute;
		}
	}
	img {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		z-index: -1;
	}
	h1 {
		font-size: 30px;
		text-align: center;
		color: white;
		font-weight: bold;
		text-shadow: 0 4px 4px rgba(0, 0, 0, .05);
	}
	a {
		position: absolute;
	}
}
.partners {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	img {
		height: 60px;
		transition: .2s ease-in-out;
		&:hover {
			transform: translateY(-5px);
		}
	}
}
h2 {
	font-size: 26px;
}
.presentation {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
	div {
		width: 50%;
	}
	img {
		width: 300px;
		border-radius: 8px;
	}
}
.contact {
	display: flex;
	flex-direction: column;
	gap: 20px;
	align-items: center;
	justify-content: center;
	font-size: 22px;
}
.product {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 50px;
	img {
		width: 50%;
	}
	h2 {
		margin: 0;
	}
	div {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		gap: 20px;
	}
}
.product-description {
	font-size: 18px;
	line-height: 30px;
}
.plus {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.card {
		color: black;
		box-shadow: 4px 4px 14px rgba(0, 0, 0, 0.05);
		ion-icon {
			font-size: 50px;
		}
	}
}
.slider {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 30px;
	overflow-x: scroll;
	img {
		border-radius: 8px;
		width: 400px;
		height: auto;
	}
}
