<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <section class="navbar-section">
            <div class="container">
                <div class="navbar">
                    <a href="{{ path('app_index') }}">
                        <img src="{{ asset('build/img/logo.png') }}" alt="Irish's Tour">
                    </a>
                    <ul class="nav">
                        <li>
                            <a class="clear" href="{{ path('app_index') }}">Home</a>
                        </li>
                        <li>
                            <a class="clear" href="{{ path('app_team') }}">The team</a>
                        </li>
                        <li>
                            <a class="clear" href="{{ path('app_products') }}">Products</a>
                        </li>
                        <li>
                            <a class="btn btn-green" href="{{ path('app_contact') }}">Contact us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </section>
        {% block body %}{% endblock %}
        <section>
            <div class="container">
                <div class="newsletter">
                    <img src="{{ asset('build/img/letters.png') }}" alt="Letters pattern">
                    <h2>Subscribe to our newsletter</h2>
                    <p>
                        Every month, receive before everyone else the advice of our travel consultants,<br>
                        the anecdotes of our bloggers and the latest trends in image, to fill up with travels ideas.
                    </p>
                    <form method="post">
                        <input type="text" placeholder="name@example.com" name="email">
                        <input type="submit" class="btn btn-white" value="Subscribe">
                    </form>
                </div>
            </div>
        </section>
        <section>
            <div class="container">
                <div class="copyright">
                    © Irish's Tour - 2023 • Prowdly powered by <span class="hide">Nico</span> 💚
                </div>
            </div>
        </section>
        <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    </body>
</html>
