{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="header">
                <h1>Contact us</h1>
                <img src="{{ asset('build/img/map.png') }}" alt="Ireland top map">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="contact">
                <a href="mailto:hello@irishtours.com">👋🏻 hello@irishtours.com</a>
                <a href="tel:+353(0)756433142">☎️ +353 (0) 756433142</a>
                68 Blessington St., Dublin 8
                <div class="socials">
                    <ion-icon name="logo-tiktok"></ion-icon>
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
