{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <header class="header header-max">
                <img src="{{ asset('build/img/map.png') }}" alt="Ireland top map">
                <h1>
                    Young People, let’s change<br>
                    the environment of tomorrow.
                </h1>
                <a class="btn btn-white" href="{{ path('app_team') }}">Discover more</a>
            </header>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="partners">
                <img src="{{ asset('build/img/ihwt.png') }}" alt="IHWT">
                <img src="{{ asset('build/img/greenpeace.png') }}" alt="Greenpeace">
                <img src="{{ asset('build/img/ispca.png') }}" alt="ISPCA">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Offers for you</h2>
            <div class="card-list">
                <div class="card card-red">
                    <img src="{{ asset('build/img/new-care-new-life.jpg') }}" alt="New care, new life.">
                    <span class="product-title">
                    New care, new life.
                </span>
                    <a class="btn btn-white" href="{{ path('app_products') }}">Explore</a>
                </div>
                <div class="card card-blue">
                    <img src="{{ asset('build/img/quote.jpg') }}" alt="New care, new life.">
                    <span class="product-title">
                    Request a quote.
                </span>
                    <a class="btn btn-white" href="{{ path('app_contact') }}">Make the request</a>
                </div>
                <span class="max-text">
                    Explore,<br>
                    Learn<br>
                    and have fun.
                </span>
            </div>
        </div>
    </section>
{% endblock %}
