{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="product">
                <img src="{{ asset('build/img/illustration_product.svg') }}">
                <div>
                    <span class="max-text">
                        New care, new life.
                    </span>
                    <h2>Have a heavenly day.</h2>
                    <span class="max-text">
                        70€
                    </span>
                    <a href="#" class="btn btn-green">Add to cart</a>
                </div>
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Description</h2>
            <p class="product-description">
                We propose a day at a horse riding center where retired racehorses are housed, thus avoiding abuse and slaughter.<br>
                Our clients will learn about hair; learn how to care for it and do eco-responsible activities in the middle of nature.<br>
                We include a picnic composed exclusively of local products. We mainly target the new generation, from childhood to adolescence.<br>
                Indeed, in general, young people are sensitive to the protection of the environment and animals.<br>
                Our objective is to show them that they can have a positive impact on these two subjects in a playful and authentic way.<br>
                We can intervene in schools to talk about our project, but also to make the youngest aware of animal abuse.<br>
                Associations are an interesting target, because we share the same values.
            </p>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="slider">
                <img src="{{ asset('build/img/slide1.jpg') }}">
                <img src="{{ asset('build/img/slide2.jpg') }}">
                <img src="{{ asset('build/img/slide3.jpg') }}">
                <img src="{{ asset('build/img/slide4.jpg') }}">
                <img src="{{ asset('build/img/slide5.jpg') }}">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>Our strengths</h2>
            <div class="plus">
                <div class="card">
                    <ion-icon name="leaf-outline"></ion-icon>
                    <span class="product-title">
                        Eco-responsible activities
                    </span>
                </div>
                <div class="card">
                    <ion-icon name="school-outline"></ion-icon>
                    <span class="product-title">
                        Educational activities
                    </span>
                </div>
                <div class="card">
                    <ion-icon name="earth-outline"></ion-icon>
                    <span class="product-title">
                        Local activities
                    </span>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
