{% extends 'base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('index') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('index') }}
{% endblock %}

{% block body %}
    <section>
        <div class="container">
            <div class="header">
                <h1>Behind your travel</h1>
                <img src="{{ asset('build/img/map.png') }}" alt="Ireland top map">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <h2>The team</h2>
            <div class="presentation">
                <div>
                    <p>
                        Welcome to Irish Tour's, your eco-responsible travel agency in Ireland!
                    </p>
                    <p>
                        We are a travel agency specializing in eco-friendly travel in Ireland. We believe
                        that travel should not only be a wonderful experience for you, but also for the
                        planet. That's why we are committed to offering environmentally friendly travel
                        that allows you to discover the wonders of Ireland while minimizing our impact
                        on nature.
                    </p>
                    <p>
                        Our team is made up of local experts who are passionate about Irish nature and
                        culture. We have designed unique itineraries to allow you to discover the most
                        beautiful places on the green island while minimizing your carbon footprint.
                        Whether you are interested in hiking, cultural tours or outdoor activities, we have
                        a trip that will meet your expectations.
                    </p>
                    <p>
                        We are proud to work with local partners who share our commitment to
                        sustainability. We support local businesses and communities across the island,
                        providing an authentic and immersive experience for our travelers. We are also
                        proud to contribute to the preservation of the environment and biodiversity by
                        minimizing our impact on ecosystems.
                    </p>
                    <p>
                        We believe that every trip can have a positive impact on the planet and we work
                        hard to make this a reality. Join us for an unforgettable trip to Ireland, where you
                        can enjoy the natural beauty of the island while being environmentally
                        conscious.
                    </p>
                </div>
                <img src="{{ asset('build/img/description.jpg') }}">
            </div>
        </div>
    </section>
    <section>
        <div class="container">
            <div class="card-list">
                <div class="card card-pink">
                    <img src="{{ asset('build/img/maeva.jpg') }}" alt="Maeva Hassan.">
                    <span class="product-title">
                        Maeva Hassan
                    </span>
                    <span class="btn btn-white" href="#">Director</span>
                </div>
                <div class="card card-orange">
                    <img src="{{ asset('build/img/ambre.jpg') }}" alt="Ambre Boubidi">
                    <span class="product-title">
                        Ambre Boubidi
                    </span>
                    <span class="btn btn-white" href="#">Community manager</span>
                </div>
                <div class="card card-blue">
                    <img src="{{ asset('build/img/salma.jpg') }}" alt="Salma Lassoued">
                    <span class="product-title">
                        Salma Lassoued
                    </span>
                    <span class="btn btn-white" href="#">Irish's tour specialist</span>
                </div>
                <span class="max-text">
                    Meet<br>
                    us.
                </span>
            </div>
        </div>
    </section>
{% endblock %}
